doctype html
html(lang="ru")
    head
        title Jade includes
        include templates/head.jade
    body
        include templates/header.jade
       
       
       
       
       main.jd
        header.jd